@page
@model IndexModel
@{
  ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
  <h1>Learn</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Students</h2>
    <p>
      We have the tools need for students. You can view past classes and your current class in one spot. View your grades to determine how well you are doing.
    </p>
    <p>
      <a class="btn btn-default"
         asp-page="/Students/Index">
        Student Info &raquo;
      </a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Courses</h2>
    <p>
      Want to learn more about what classes are offered. Find out which department and the number of credits for each course, so you can plan your academic year.
    </p>
    <p>
      <a class="btn btn-default"
         asp-page="/Courses/Index">
        Course List &raquo;
      </a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Instructors</h2>
    <p>
      Our instructors are commited to helping you succeed. Find your current teacher and where their office is. Also you can see which teachers are teaching each course, so you can find the right teacher for you.
    </p>
    <p>
      <a class="btn btn-default"
         asp-page="/Instructors/Index">
        Instructors &raquo;
      </a>
    </p>
  </div>
</div>